<div class="mb-4 nested-fields p-4 bg-gray-100 rounded">
  <%= f.hidden_field :_destroy %>

  <div class="mb-4">
    <%= f.input :email, wrapper_html: { class: 'md:mr-2 mr-0' } %>
  </div>

  <div class="flex flex-wrap">
    <div class="lg:w-1/2 md:w-6/12 w-full mb-4">
      <%= f.association :organisation, collection: Organisation.ordered, input_html: { class: 'md:mr-2 mr-0', data: { controller: 'choices' } } %>
      <small class="text-gray-700 text-sm mt-1">
        <a href="https://forms.gle/gPz9DJQYKWbivHDk7" target="_blank" rel="noopener noreferrer" class="link">Submit a request here</a>
        if you need to add an organisation.
      </small>
    </div>

    <div class="lg:w-1/2 md:w-6/12 w-full mb-4">
      <%= f.input :position, wrapper_html: { class: 'md:ml-2 ml-0' } %>
    </div>
  </div>
  <div class="lg:w-1/2 md:w-6/12 w-full mb-4">
    <%= f.input :status, as: :radio_buttons, collection: Contact.statuses.keys, label_method: :humanize, checked: f.object.status || 'current', item_wrapper_class: 'inline-block mr-6' %>
  </div>

  <%= link_to 'Remove contact', '#', class: 'link remove_fields', data: { confirm: 'Any associated records will also be removed. Would you still like to continue?' } %>
</div>
