<%= simple_form_for model, url: url do |f| %>
  <div class="flex flex-wrap mb-2">
    <div class="lg:w-5/12 md:w-6/12 w-full mb-4">
      <%= f.input :first_name, autofocus: true, wrapper_html: { class: 'md:mr-2 mr-0' } %>
    </div>

    <div class="lg:w-5/12 md:w-6/12 w-full mb-4">
      <%= f.input :last_name, wrapper_html: { class: 'md:ml-2 ml-0' } %>
    </div>

    <div class="lg:w-2/12 w-full mb-4">
      <%= f.input :pronouns, input_html: {class: 'selectize', data: {selectize: '{"maxItems": 1, "create": true, "options": [{"value": "he/him", "text": "he/him"}, {"value": "she/her", "text": "she/her"}, {"value": "they/them", "text": "they/them"}]}'}}, wrapper_html: { class: 'lg:ml-4 mr-0' } %>
    </div>
  </div>

  <div class="mb-4">
    <h2 class="text-lg text-blue-800 leading-tight mb-1">Contacts</h2>
    <p class="text-gray-700">A person can have many contacts</p>
  </div>

  <section>
    <%= f.simple_fields_for :contacts, f.object.contacts.sort_by{ |c| c.status } do |i| %>
      <%= render 'contact_fields', f: i %>
    <% end %>
    <div class="mb-8">
      <%= link_to_add_fields 'Add contact', f, :contacts %>
    </div>
  </section>

  <% if ['new', 'create'].include?(action_name) %>
    <%= f.button :submit, 'Create', data: { disable_with: 'Creating...' }, class: 'btn bg-blue-800 text-white' %>
    <%= link_to 'Cancel', people_path, class: 'link ml-6' %>
  <% end %>

  <% if ['edit', 'update'].include?(action_name) %>
    <%= f.button :submit, 'Update', data: { disable_with: 'Updating...' }, class: 'btn bg-blue-800 text-white' %>
    <%= link_to 'Cancel', person_path(model), class: 'link ml-6' %>
  <% end %>
<% end %>

<% if ['edit', 'update'].include?(action_name) %>
  <%= button_to 'Delete', model, method: :delete, class: 'link relative float-right bottom-7', form: { data: { turbo_confirm: 'Are you sure?' } } %>
<% end %>
