<% content_for :title, 'People' %>

<div class="bg-gray-700">
  <section class="outer-container py-4 text-white">
    <h1 class="leading-tight text-2xl">People</h1>
  </section>
</div>

<div class="flex flex-wrap-reverse mx-auto max-w-screen-xl">

  <div class="m-5 flex-1 lg:w-0 w-full">
    <div class="mb-5">
      <%= link_to 'New person', new_person_path, class: 'btn bg-blue-800 text-white' %>
    </div>

    <div id="people-list">
      <%= render 'list', people: @people %>
    </div>
  </div>

  <aside class="m-5 lg:w-64 w-full">
    <div class="shadow">
      <input type="checkbox" id="filter-toggle">
      <label id="filter-control" for="filter-toggle" class="px-4 py-2 block w-full bg-white">
        <div class="flex justify-between align-items font-semibold">
          Filter
          <%= image_tag 'chevron-down.svg', id: 'chevron-down' %>
        </div>
      </label>

      <div id="filter-body" class="p-4 bg-white rounded-b">
        <%= search_form_for @q do |f| %>
          <%= f.label :name_cont, 'Name', class: 'label' %>
          <%= f.search_field :name_cont, class: 'input string mb-4' %>

          <%= f.label :contacts_email_cont, 'Email', class: 'label' %>
          <%= f.search_field :contacts_email_cont, class: 'input string mb-4' %>

          <%= f.label :contacts_organisation_id_in, 'Organisations', class: 'label' %>
          <%= f.collection_select :contacts_organisation_id_in, Organisation.ordered, :id, :name, { include_blank: true }, { multiple: true, class: 'input selectize mb-4' } %>

          <%= f.button 'Filter', type: 'submit', class: "btn text-white bg-blue-800" %>
          <%= link_to 'Reset', people_path, class: 'ml-1 btn bg-blue-200' %>
        <% end %>
      </div>
    </div>
  </aside>
</div>
