<% content_for :title, @person.name %>

<%= render partial: 'subnav' %>

<div class="outer-container my-5">

  <section class="bg-white rounded shadow mb-6">

    <div class="px-5 pt-4 pb-3 border-b border-gray-300">
      <h2 class="font-semibold text-xl text-blue-800 leading-tight mb-3">
        Contacts
      </h2>

      <div class="flex justify-between gap-5">
        <p class="w-6/12 text-blue-800 leading-tight">Email</p>
        <p class="w-3/12 text-blue-800 leading-tight">Organisation</p>
        <p class="w-3/12 text-blue-800 leading-tight">Position</p>
      </div>
    </div>

    <%- @person.contacts.order(:status).each do |contact| %>
      <div class="flex justify-between gap-5 border-b border-gray-300 px-5 py-3 text-sm">
        <div class="w-6/12">
          <%= mail_to contact.email, contact.email, class: 'link' %>
          (<%= contact.current? ? 'Current' : 'Past' %>)
        </div>

        <div class="w-3/12">
          <% if contact.organisation %>
            <%= link_to contact.organisation.name, contact.organisation, class: 'link' %>
          <% else %>
            <%= with_default(nil) %>
          <% end %>
        </div>

        <div class="w-3/12">
          <%= with_default(contact.position) %>
        </div>
      </div>
    <% end %>

  </section>

  <section class="bg-white rounded shadow mb-6">
    <div class="px-5 pt-4 pb-3 border-b border-gray-300">
      <h2 class="font-semibold text-xl text-blue-800 leading-tight">
        Projects
      </h2>
    </div>
    <div class="mt-5 ml-5">
      <%= link_to 'Scoping & Commited', person_path(@person), class: "link #{'font-bold no-underline' unless params[:q]}" %>
      &middot;
      <%= link_to 'Complete', person_path(@person, 'q[status_eq]' => Project.statuses[:complete]), class: "link #{params_active_class(params, 'status_eq', 2)}" %>
      &middot;
      <%= link_to 'Not pursued', person_path(@person, 'q[status_eq]' => Project.statuses[:not_pursued]), class: "link #{params_active_class(params, 'status_eq', 3)}" %>
    </div>
    <div class="p-5" data-controller="timeline" data-timeline-data-url-value="<%= person_path(format: :json) %>" data-timeline-groups-value="<%= @groups %>"></div>
  </section>
</div>
