<div class="mb-8">
  <div class="text-gray-700 mb-6">
    <%= page_entries_info objectives %>
  </div>

  <%- objectives.each do |objective| %>

    <div class="rounded bg-white shadow mb-5">
      <div class="px-4 py-3">
        <div class="text-xs text-gray-700 mb-1">
          <%= objective.status.humanize %>
        </div>
        <h2 class="font-semibold text-lg text-blue-800 leading-tight mb-1">
          <%= link_to objective.title, objective, class: 'hover:underline' %>
        </h2>
        <p><%= objective.objective %></p>

        <%- objective.tags.each do |tag| %>
          <%= link_to objectives_path(q: { tags_id_in: tag.id }), class: 'inline-block mr-2 text-sm text-gray-700 hover:underline' do %>
            #<%= tag.title.parameterize %>
          <% end %>
        <% end %>
      </div>

      <%# TODO: responsive %>
      <div class="px-4 py-3 border-t border-gray-300 text-sm text-gray-700 flex">
        <%= pluralize(objective.team.size, "team member") %>
        <span class="ml-2"><%= pluralize(objective.sponsors.size, "sponsor") %></span>

        <%- if objective.indicators.any? %>
          <span class="mx-2">&middot;</span>
          Progress indicators:
          <%= last_progress_updates(objective.indicators.group(:last_progress_update_status).count) %>
        <% end %>

        <%- if objective.impact_rating %>
          <span class="mx-2">&middot;</span>
          Impact rating:
          <span class="ml-1 <%= score_color(objective.impact_rating.score) %>"><%= objective.impact_rating.score %></span>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<%= paginate objectives %>
