<div class="bg-indigo-800">
  <section class="outer-container py-4 text-white">
    <div class="flex justify-between mb-2">
      <div class="mr-4">
        <p class="inline-flex text-white text-xs font-semibold tracking-widest uppercase bg-indigo-900 rounded px-2 py-1 mb-1"><%= @objective.status.humanize %></p>
        <h1 class="text-white text-xl font-semibold"><%= @objective.title %></h1>
        <p><%= @objective.objective %></p>
      </div>

      <%= link_to 'Edit', edit_objective_path(@objective), class: 'link text-gray-200' %>
    </div>

    <div class="mb-2">
      <%- @objective.tags.each do |tag| %>
        <%= link_to objectives_path(q: { tags_id_in: tag.id }), class: 'inline-block mr-2 text-sm hover:underline' do %>
          #<%= tag.title.parameterize %>
        <% end %>
      <% end %>
    </div>

    <div class="flex flex-wrap items-center text-white text-sm">

      <%= link_to @objective do %>
        <div class="px-2 py-1 mr-1 mb-1 bg-gray-800 bg-opacity-25 hover:bg-gray-800 rounded">
          Brief
        </div>
      <% end %>

      <%= link_to objective_memberships_path(@objective) do %>
        <div class="px-2 py-1 mr-1 mb-1 bg-gray-800 bg-opacity-25 hover:bg-gray-800 rounded">
          Team (<%= @objective.memberships.size %>)
        </div>
      <% end %>
    </div>
  </section>
</div>
