<%= simple_form_for model, url: url do |f| %>
  <div class="mb-4">
    <%= f.input :title %>
  </div>

  <div class="flex justify-between mb-4 ">
    <div class="w-full mr-2">
      <%= f.input :target_value %>
    </div>
    <div class="w-full ml-2">
      <%= f.input :unit %>
    </div>
  </div>

  <div class="mb-4 <%= 'field_with_errors' if model.errors[:description].any? %>">
    <div class="label"><%= f.label :description %></div>
    <div class="hint"><%= f.hint :description %></div>
    <div class="error"><%= f.error :description %></div>
    <div class="w-full">
      <%= f.rich_text_area :description, class: 'trix-editor' %>
    </div>
  </div>

  <%- if ['new', 'create'].include?(action_name) %>
    <%= f.button :submit, 'Create', data: { disable_with: 'Creating...' }, class: 'btn bg-blue-800 text-white' %>
    <%= link_to 'Cancel', targetable_indicators_path(@targetable), class: 'link ml-6' %>
  <% end %>

  <%- if ['edit', 'update'].include?(action_name) %>
    <%= f.button :submit, 'Update', data: { disable_with: 'Updating...' }, class: 'btn bg-blue-800 text-white' %>
    <%= link_to 'Cancel', targetable_indicator_path(@targetable, model), class: 'link ml-6' %>
  <% end %>
<% end %>

<% if ['edit', 'update'].include?(action_name) %>
  <%= button_to 'Delete', targetable_indicator_path(@targetable, model), method: :delete, class: 'link relative float-right bottom-7', form: { data: { turbo_confirm: 'Are you sure?' } } %>
<% end %>
