<% content_for :title, "#{@indicator.title} - #{@targetable.title}" %>

<div class="mx-auto max-w-screen-md">
  <aside class="m-5">
    <div class="mb-5">
      <%= link_to "‹ Back to #{to_var(@targetable)}", targetable_path(@targetable), class: 'link' %>
    </div>

    <div class="rounded shadow overflow-hidden">
      <div class="p-5 bg-white">
        <section class="flex items-baseline justify-between">
          <h2 class="text-lg font-semibold leading-tight">
            <%= @indicator.title %>
          </h2>

          <%= link_to 'Edit', edit_targetable_indicator_path(@targetable, @indicator), class: 'link ml-5' %>
        </section>

        <%- if @indicator.description.present? %>
          <h3 class="font-semibold text-blue-800 leading-tight mt-5 mb-1">Description</h3>
          <%= @indicator.description %>
        <% end %>

        <%- if @indicator.target_value %>
          <%- if @indicator.last_progress_update_value %>
            <section class="mt-5">
              <p class="text-xs mb-1">
                <%= number_with_precision(@indicator.last_progress_update_value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %>
                /
                <%= number_with_precision(@indicator.target_value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %>
                <%= @indicator.unit %>
              </p>
              <div class="relative rounded-full overflow-hidden w-full h-3">
                <div class="absolute bg-gray-200 w-full h-3"></div>
                <div class="absolute h-3 bg-opacity-50 <%= bg_status(@indicator.last_progress_update_status) %>" style="width: <%= @indicator.progress %>%"></div>
              </div>
            </section>
          <% else %>
            <section class="mt-5">
              <p class="text-xs mb-1">
                0
                /
                <%= number_with_precision(@indicator.target_value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %>
                <%= @indicator.unit %>
              </p>
              <div class="relative rounded-full overflow-hidden w-full h-3">
                <div class="absolute bg-gray-200 w-full h-3"></div>
              </div>
            </section>
          <% end %>
        <% end %>

        <%- if @indicator.is_impact_indicator %>
          <div class="mt-5">
            <p><strong>What type of impact are we looking to have?</strong></p>
            <p class="mb-2"><%= @indicator.impact_type.title %></p>

            <p><strong>What impact indicator are we using?</strong></p>
            <p class="mb-2"><%= @indicator.impact_rigour.rating %>: <%= @indicator.impact_rigour.title %></p>

            <p><strong>What scale of impact are we aiming for?</strong></p>
            <p class="mb-2"><%= @indicator.impact_level.title %></p>
          </div>
        <% end %>
      </div>
    </div>
  </aside>

  <div class="mt-5 mx-5">

    <div class="flex justify-between items-center">
      <h2 class="text-lg text-blue-800 leading-tight">Progress updates</h2>

      <%= link_to 'New progress update', new_indicator_progress_update_path(@indicator), class: 'btn shadow bg-blue-800 text-white', data: { turbolinks: false } %>
    </div>

    <% if @indicator.progress_updates.any? %>

      <hr class="mt-5 border-b border-gray-300">

      <% @indicator.progress_updates.order_recent.each do |update| %>
        <div class="py-5 border-b border-gray-400 rounded">
          <div class="mb-1 flex justify-between">
            <p>
              <span class="font-bold <%= status_with_icon(update.status) %>"><%= update.status.humanize %></span>
              <%- if update.value && @indicator.target_value %>
                <span class="text-sm text-gray-700">
                  (<%= number_with_precision(update.value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %> <%= @indicator.unit %>)
                </span>
              <% end %>
            </p>
            <%= link_to 'Edit', edit_indicator_progress_update_path(@indicator, update), class: 'link text-sm' %>
          </div>

          <div class="my-2"><%= update.content %></div>

          <p class="text-sm text-gray-700">
            <%# TODO: test & avoid excessive object chaning %>
            <%= update.date&.strftime("%e %b %Y") %> by <%= link_to update.author.name, update.author.person, class: 'link' %>
          </p>
        </div>
      <% end %>

    <% else %>

      <div class="mt-5 border-2 border-gray-400 border-dashed text-gray-700 italic text-center rounded w-full p-10">
        No progress updates
      </div>

    <% end %>

  </div>

</div>
