<% content_for :title, @indicator.title %>

<%#= render partial: polymorphic_subnav(@targetable) %>

<div class="outer-container mt-5">
  <%= link_to '‹ Back', targetable_path(@targetable), class: 'link' %>
</div>

<div class="flex flex-wrap mx-auto max-w-screen-xl">

  <aside class="m-5 lg:w-64 w-full">
    <div class="rounded shadow overflow-hidden">
      <div class="p-5 bg-white">
        <div class="text-sm text-gray-700 mb-1">
          <%= @indicator.status.humanize %>
        </div>

        <section class="mb-5">
          <h2 class="text-l text-brand-navy leading-tight">
            <%= @indicator.title %>
          </h2>
        </section>

        <%- if @indicator.last_progress_update_value && @indicator.target_value %>
          <section class="mb-5">
            <p class="text-xs mb-1">
              <%= number_with_precision(@indicator.last_progress_update_value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %>
              /
              <%= number_with_precision(@indicator.target_value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %>
              <%= @indicator.unit %>
            </p>
            <div class="relative rounded-full overflow-hidden w-full h-3">
              <div class="absolute bg-brand-navy-5 w-full h-3"></div>
              <div class="absolute h-3 bg-opacity-50 bg_<%= @indicator.last_progress_update_status %>" style="width: <%= @progress_indicator.progress %>%"></div>
            </div>
          </section>
        <% end %>

        <section>
          <h2 class="text-sm text-brand-navy mb-2 leading-tight">Start date</h2>
          <%= @indicator.start_date.strftime("%e %b %Y") %>
        </section>

        <% if @indicator.end_date %>
          <section class="mt-5">
            <h2 class="text-sm text-brand-navy mb-2 leading-tight">End date</h2>
            <%= @indicator.end_date.strftime("%e %b %Y") %>
          </section>
        <% end %>

        <section class="mt-5">
          <h2 class="text-sm text-brand-navy mb-2 leading-tight">Progress updates due</h2>
          <%= @indicator.update_frequency.humanize %>
        </section>
      </div>

      <%= link_to edit_targetable_indicator_path(@targetable, @indicator) do %>
        <div class="px-5 py-3 text-sm text-center hover:underline bg-gray-300">
          Edit
        </div>
      <% end %>
    </div>
  </aside>

  <div class="mt-5 mx-5 flex-1 lg:w-0 w-full">

    <% if @indicator.requires_update? %>
      <div class="px-3 py-2 bg-orange-100 text-sm text-orange-800 mb-5">
        Progress update due this <%= @indicator.update_frequency.slice(0..-3) %>
      </div>
    <% end %>

    <div class="flex justify-between items-center">
      <h2 class="text-lg text-brand-navy leading-tight">Progress updates</h2>

      <%= link_to 'New progress update', new_indicator_progress_update_path(@indicator), class: 'btn shadow bg-brand-navy text-white', data: { turbolinks: false } %>
    </div>

    <% if @indicator.progress_updates.any? %>

      <hr class="mt-5 border-b border-gray-300">

      <% @indicator.progress_updates.order_recent.each do |update| %>
        <div class="py-5 border-b border-gray-400 rounded">
          <div class="mb-1 flex justify-between">
            <p>
              <span class="font-bold <%= update.status %>_with_icon"><%= update.status.humanize %></span>
              <%- if update.value && @indicator.target_value %>
                <span class="text-sm text-gray-700">
                  (<%= number_with_precision(update.value, precision: 2, delimiter: ',', strip_insignificant_zeros: true) %> <%= @indicator.unit %>)
                </span>
              <% end %>
            </p>
            <% if can? :update, update %>
              <%= link_to 'Edit', edit_indicator_progress_update_path(@indicator, update), class: 'link text-sm' %>
            <% end %>
          </div>

          <div class="my-2"><%= update.content %></div>

          <p class="text-sm text-gray-700">
            <%= update.date&.strftime("%e %b %Y") %> by <%= update.author.name %>
          </p>
        </div>
      <% end %>

    <% else %>

      <div class="mt-5 border-2 border-gray-400 border-dashed text-gray-700 italic text-center rounded w-full p-10">
        No progress updates
      </div>

    <% end %>

  </div>

</div>
